/* Tables container in the first section */
.main-tables-container {
  gap: 72px;
}

/* Cards copntainer in the second section */
.main-product-detail .product-cards-container {
  justify-content: space-evenly;
  max-width: 850px;
}

/* Background image of the third section */
.bitcoin-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/imgs/bitcoinbaby-tablet-laptop.jpg);
}

.bitcoin-img-container h2 {
  position: static;
  font-size: 40rem;
}

/* Plans container in the fourth section */
.plans-section__all-plans {
  gap: 32px;
}

/* Global (override) */
.horizontal-scroll {
  justify-content: center;
}